<!DOCTYPE html>
<html lang="en">
<head>
    <title>Placement Cell</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/signin.css">
    <link rel="stylesheet" href="/css/signup.css">
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="stylesheet" href="/css/student.css">
    <link rel="stylesheet" href="/css/interview.css">
    <link rel="stylesheet" href="/css/allocate.css">

    <%- style %>

</head>
<body>
    

    <%- include('_header'); %> 
    
    <%- body %> 

    <%- include('_footer'); %> 
    
    <%- script %>

</body>
</html>